body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.btnContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 15px;
}

.grid{
    display: grid;
    height: 500px;
    width: 500px;
    gap: 1px;
    background-color: azure;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #a8a7a7;
}

button{
    padding: 5px;
    border-radius: 4px;
    
}